    body{
        background-color: #121212;
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    }

    li{
        display:flex;
        justify-content:space-between;
        width:200px;
        margin-bottom: 5px;
    }

    li button{
        background-color: red;
    }

    .todo-container{
        background-color: grey;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 20px 50px rgba(1000, 0, 0, 0.8);
    }

    #one{
        padding: 10px;
        border: 1px solid #333;
        background-color: black;
        color: white;
        border-color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    #two{
        padding: 10px 15px;
        background-color: rgb(8, 135, 8);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #two:hover{
        background-color:rgb(23, 182, 23);
    }

    #three{
        padding: 0;
        margin-top: 20px;
        list-style-type: none;
    }

    #three li{
        background-color: #252526;
        padding:10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    #three li button{
        background-color: #d11a2a;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        cursor: pointer;
    }

     #three li button:hover{
        background-color: #ff2c2c;
    }

    